@model CoreTraining.Entities.DTO.PostViewModel
@{
}

<div class="container-fluid h-100 import">
    <div class="row justify-content-center align-items-center ">
        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5 h-75 w-75 importCard">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block">
                            <img src="~/images/img/1fdbce52429088209094dd52a5e7fd3f.jpg" class="w-100 h-100"/>
                        </div>
                        <div class="col-lg-7 p-5">
                            <h3 class="mb-3">Import Post</h3>
                            <div asp-validation-summary="All" class="validate mb-4 mt-2" id="hideValidate"></div>
                            <form method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <input class="form-control" type="file" id="batchPosts" name="batchPosts">
                                </div>
                                <div class="row mt-5">
                                    <div class="col">
                                        <button type="submit" class="btn btn-outline-dark">Upload</button>
                                        <a class="btn btn-outline-danger" asp-controller="Post" asp-action="Index">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>

@section scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
