.table-wrapper {
    margin-top: 20px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    .table-wrapper::-webkit-scrollbar {
        display: none;
    }

    .table-wrapper table > tbody > tr:first-child {
        background: #EAEAEA;
    }

    .table-wrapper tr th {
        text-align: center;
    }

    .table-wrapper tr td {
        font-size: 18px;
        vertical-align: middle;
        text-align: center;
    }


.profileImage {
    width: 260px;
    height: 400px;
}

.validate
{
    color:red;
}
