@model CoreTraining.Entities.DTO.ChangePasswordViewModel;
@{
}

<div class="container-fluid h-100 mt-5">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-4">

            <h3 class="mb-4 mt-5">Change Password</h3>


            @if (!ViewData.ModelState.IsValid)
            {
                <div asp-validation-summary="All" class="alert alert-danger"></div>
            }

            <form method="post">

                <div class="form-floating mb-4 d-none">
                    <input asp-for="UserId" class="form-control" placeholder="xxxxxxx" />
                 
                </div>

                <div class="form-floating mb-4">
                    <input asp-for="OldPassword" class="form-control" placeholder="xxxxxxx" />
                    <label asp-for="OldPassword" class="form-label"></label>
                    <div class="invalid-feedback">
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-floating mb-4">
                    <input asp-for="Password" class="form-control" placeholder="xxxxxxx" />
                    <label asp-for="Password" class="form-label"></label>
                    <div class="invalid-feedback">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-floating mb-4">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="xxxxxxx" />
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <div class="invalid-feedback">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>


                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-dark">Change</button>
                </div>


            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}